<!DOCTYPE html>
<meta charset="UTF-8"/>
<html>
	<head>
		<title>Welcome to Portal</title>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
	</head>
	<body>
		<header>
			<h2>Continuous Delivery Portal Site</h2>
		</header>
		<nav>
			<ul>
				<li>TeamCity</li>
				<li>Monitor</li>
			</ul>
		</nav>
		<aside>
			<select id="services" name="service">
				<option value="rah" selected>Corridor Optimization</option>
				<option value="drainage">Drainage</option>
				<option value="documentation">Documentation</option>
				<option value="translation">Translation</option>
			</select>
		</aside>
		<article>
			{% block content %} {% endblock %}
		</article>
    </body>
</html>
